<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flashcards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FEEAD5A1D58B34500D585A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FEEAD711D58B34600D585A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FEEAD7C1D58B34600D585A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
