<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.triangleleft.flashcards">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- TODO: remove vmSafeMode before release -->
    <application
        android:name=".ui.common.FlashcardsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true">
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity"/>
        <activity android:name=".ui.cards.FlashcardsActivity"/>
        <activity
            android:name=".ui.main.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>
    </application>

</manifest>